/* * {
    border: 0.1em solid red;
} */

.search-container {
    display: flex;
    justify-content: center;
    gap: 0;
}

.search-container input, .search-container button {
    border: 1px solid orange;
    border-radius: 0.2em;
}
.search-container button {
    background-color: orange;
}

