/* body {
  background-color: cornsilk;
} */

.light {
  background-color: cornsilk;
}

.dark {
  background-color: rgb(31, 31, 80);
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5em;
  margin: 5em;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2em;
  width: auto;
  height: auto;
  background-color: white;
  border-radius: 1em;
  /* border: 1px solid red; */
}

.product img {
  min-width: 10em;
  max-width: 15em;
  height: auto;
}